# Ignorar dependências locais do Node.js
node_modules/
dist/

# IGNORAR ARQUIVOS DE CREDENCIAIS E SENHAS (CRÍTICO)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Arquivos do Sistema Operacional
.DS_Store
Thumbs.db